/*STYLES GENERAUX*/
*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px;
    margin: 2px;
    text-align: justify;
    box-sizing: border-box;
}
body{
    background: darkgrey;
}
p{
    font-size: 1em;
    line-height: 1.5em;
}

li {
    list-style-type: circle;
}
ul {
    padding: 10px;
}


/*HEADER & FOOTER*/

header{
    border-bottom: 2px solid #fff;
    height: 120px;
}

/*SECTIONS*/

section{
    display: flex; 
    flex-flow: row wrap;
    width: 100%;
    padding-bottom: 20px;
    padding-left: 20px;
    margin: 20px auto;
    background-color: #fff;
}

/*SECTION RÉSUMÉ*/

.photo{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.photo img{
    width: 200px;
    height: 200px;
    border: 1px solid whitesmoke;
    box-shadow: 0px 0px 10px #777;
    border-radius: 50%;
    margin-top: -80px;
}

.experience h3{
    color: darkslateblue;
}
.experience h4{
    font-style: italic;
}

.presentation {
    margin-left: auto;
    margin-right: auto;
}

.presentation h2{
    text-align: center;
    color: black;
}

.presentation p{
    text-align: center;
    color: black;
}



